@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,700;1,900&display=swap");

:root {
  --primary-text-color: rgb(221, 221, 221);
  --secondary-text-color: rgb(208, 213, 255);
  --accent-color: rgb(245, 78, 38);
  --accent-color-dark: rgb(166, 166, 166);
  --bg-primary: rgb(28, 28, 28);
  --bg-secondary: rgb(52, 52, 56);
  --box-shadow: rgb(28, 28, 28);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: var(--primary-text-color);
  background-color: var(--bg-primary);
}
p {
  font-family: "Lucida Sans", Verdana, sans-serif;
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}
#logo {
  width: 100px;
}
.nav-link.active {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
}

nav {
  background-color: var(--bg-primary);
  box-shadow: 0 0 4px var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}
.nav-links ul {
  gap: 16px;
}

.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  color: var(--secondary-text-color);
}
.hover-link:active {
  color: var(--accent-color);
  transform: scale(0.91);
  transition: ease-in-out 0.03s;
}
.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  caret-color: var(--primary-text-color);
  border-bottom: 2px solid var(--primary-text-color);
  background-color: var(--bg-primary);
  font-family: "Lucida Sans", Verdana, sans-serif;
}

.search-btn {
  color: var(--primary-text-color);
  background-color: var(--bg-secondary);

  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lucida Sans", Verdana, sans-serif;
}
.search-btn:hover {
  transform: scale(1.05);
}

main {
  padding-block: 20px;
  margin-top: 80px;
}

.cards-container {
  justify-content: center;
  /* margin-inline: auto; */
  flex-wrap: wrap;
  gap: 20px;
  align-items: start;
}

.card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 4px var(--box-shadow);
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--bg-secondary);
  cursor: pointer;
  overflow: hidden;
}
.card:hover {
  box-shadow: 1px 1px 8px var(--box-shadow);
  transform: translateY(-5px);
  transition: ease-in-out 0.3s all;
  /* background-color: var(--bg-primary); */
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}
.red {
  color: var(--accent-color);
}
.green {
  color: green;
}
.news-source {
  color: var(--accent-color-dark);
  margin-block: 12px;
}
